
.array-cont{
    padding-top: 30px;
    width: 100%;
    background-color: rgba(229, 230, 224, 0.726)
   

}
.arr-bar{

    width: 17px;
    background-color: darkblue;
    display: inline-block;
    margin: 0 2.4px;
    height: 50px;
    animation: mymove 5s infinite;
}


